<div class="home-main">
  <form [formGroup]="updateUserForm" (submit)="updateUser()" class="my-3">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="id"
        placeholder="id"
        [formControlName]="'id'"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="firstName"
        placeholder="FirstName"
        [formControlName]="'firstName'"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="lastName"
        placeholder="LastName"
        [formControlName]="'lastName'"
      />
    </div>
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Email"
        [formControlName]="'email'"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="password"
        placeholder="Password"
        [formControlName]="'password'"
      />
    </div>
    <p>Permissions:</p>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="can_read_users"
        id="can_read_users"
        [formControlName]="'can_read_users'"
      />
      <label class="form-check-label" for="can_read_users"> Read users </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="can_create_users"
        id="can_create_users"
        [formControlName]="'can_create_users'"
      />
      <label class="form-check-label" for="can_create_users">
        Create users
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="can_update_users"
        id="can_update_users"
        [formControlName]="'can_update_users'"
      />
      <label class="form-check-label" for="can_update_users">
        Update users
      </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value="can_delete_users"
        id="can_delete_users"
        [formControlName]="'can_delete_users'"
      />
      <label class="form-check-label" for="can_delete_users">
        Delete users
      </label>
    </div>

    <button
      [disabled]="!updateUserForm.valid"
      type="submit"
      class="btn btn-primary mt-3"
    >
      Submit
    </button>
  </form>
</div>
